{% extends 'base.html' %}        

{% block new_trip_form %}
	<!-- css -->
	{% load staticfiles %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home.css' %}" />
  <script src="https://use.fontawesome.com/8f676572f3.js"></script>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Share Your Adventure</h1>
                        <p class="intro-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Trip Sharing, for those who<br> love to explore</h2>
                    <p class="lead">Browse through all the experiences, plan your trip, and share it with friends.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Get Started!</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                            	<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
	                                <span class="fa-stack fa-4x">
		                                <i class="fa fa-circle fa-stack-2x"></i>
		                                <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
	                            	</span>
	                                <h4>
	                                    <strong>Create A Trip</strong>
	                                </h4>
	                            </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                            	<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
		                            <span class="fa-stack fa-4x">
		                                <i class="fa fa-circle fa-stack-2x"></i>
		                                <i class="fa fa-map fa-stack-1x text-primary"></i>
		                            </span>
	                                <h4>
	                                    <strong>Browse Trips</strong>
	                                </h4>
		                        </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                            	<a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
	                                <span class="fa-stack fa-4x">
	                                	<i class="fa fa-circle fa-stack-2x"></i>
	                                	<i class="fa fa-camera fa-stack-1x text-primary"></i>
	                            	</span>
	                                <h4>
	                                    <strong>Photo Galleries</strong>
	                                </h4>
	                            </a>  
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                            	<a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
	                                <span class="fa-stack fa-4x">
	                                	<i class="fa fa-circle fa-stack-2x"></i>
	                                	<i class="fa fa-globe fa-stack-1x text-primary"></i>
	                            	</span>
	                                <h4>
	                                    <strong>Top Locations</strong>
	                                </h4>
	                            </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

  	<footer class="container-fluid text-center">
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
          <p>&copy; 2016</p>
      </div>
    </footer>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Create a Trip</h2>
                          	<div class="container-fluid text-center"><br>
							  <div class="row">
							  	<div class="col-sm-5 offset1">
							  	    <form role="form" method="POST" action="/trips/new/" name="Create Trip">
							  	    	<div class="form-group">
								    	  <label>New Trip Name:</label>
								      	  <input type="text" name="trip_name_text">
								      	</div>
								      	<button type="submit" class="btn btn-default">Submit</button>{% csrf_token %}
							  	    </form>
							  	</div>
							  </div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Browse Trips</h2>
                            <div class="container-fluid text-center"><br>
							  <div class="row">
							  	<div class="col-sm-6">
							  		<table id="recentTripPosts" class="table">
										<thead>
											<tr>
												<th class="text-center">Recent Trip Posts</th>
											</tr>
										</thead>
										<tbody>
											{% for row in latest_trip_list %}
											<tr>
												<td>
													<nav>
														<a href="trips/{{ row.id }}" id="linkToTrip">{{ row.trip_name }}</a>
													</nav>
												</td>
											</tr>
											{% endfor %}
										</tbody>
							  		</table>
							  	</div>
							  </div>
						  	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Photo Galleries</h2>
                            <p>Coming soon...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Top Locations</h2>
                            <p>Coming soon...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
