html,
body {
    height: 100%;
    width: 100%;
    background-color: #333333;
    padding-top: 25px;
}

@media screen and (min-width: 900px) {
	.main-banner {
	    height: 500px;
	    width: 100%;
	    background: url("images/carousel_1.jpg") no-repeat;
	    -webkit-background-size: contain;
	  	-moz-background-size: contain;
	  	-o-background-size: contain;
	  	background-size: contain;
	    display: table;
	}
}

@media screen and (min-width: 900px) {
	.container.text-center {
		color: #ffffff;
	}
}

.row {
	color: #ffffff;
}

/*
Page Layout
*/

.col-sm-5,
.col-sm-6 {
}

footer {
    margin: 50px 0;
}

/*
Search Trip Section
*/

#linkToTrip {
	color: #9d9d9d;
}

#linkToTrip:hover {
	color: #ffffff;
}

/*
Create Trip Section
*/

input {
	color: #000000;
}
