body, 
html {
  background-color: #333333;
  padding-top: 25px;
  height: 100%;
  width: 100%;
}

html,
body,
#TripShare {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#TripShare {
  position: absolute;
  top: 50px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
  color: #9a9a9a;
  outline: none;
}

.modal-title {
  text-transform: capitalize;
  font-weight: 400;
}

.btn {
  text-transform: capitalize;
  font-weight: 200;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#dropzone { 
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.dropzone {
	border: 2px dashed #0087F7;
	border-radius: 5px; 
	background: white;
	min-height: 150px;
	padding: 54px 54px;
}

.dropzone.dz-clickable { 
	cursor: pointer;
}

.dropzone.dz-clickable * { 
	cursor: default;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
	cursor: pointer;
}

.dropzone .dz-message { 
	font-weight: 400;
	text-align: center;
	margin: 2em 0;
}

.dropzone .dz-message .note {
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	margin-top: 1.4rem; 
}

